<!DOCTYPE HTML>
<html>
	<head>
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<label><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" required>
			<label><b>Password</b></label>
			<input type="text" placeholder="Enter Password" name="password" required>
			<label><b>Retype Password</b></label>
			<input type="password" placeholder="Retype Password" name="password-rpt" required>
			<input type="checkbox" checked="checked"> Remember Me
			<input class="btn btn-primary" type="submit" value="submit">
		</div>
	</body>
</html>